# Ignore log files
*.log

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore directories
logs/
tmp/
temp/
knowledge/data
mosquitto/log/data

# Ignore Docker related files
docker-compose.override.yml

# Ignore virtual environment directories
venv/
env/
knowledge/data/engine/data/938ff24a50cc8b51/_series/02/0000
knowledge/data/influxd.bolt
knowledge/data/influxd.bolt
knowledge/data/engine/data/938ff24a50cc8b51/_series/01/0000
knowledge/data/engine/data/938ff24a50cc8b51/_series/02/0000
knowledge/data/engine/data/938ff24a50cc8b51/_series/03/0000
knowledge/data/engine/data/938ff24a50cc8b51/_series/04/0000
knowledge/data/engine/data/938ff24a50cc8b51/_series/06/0000
knowledge/data/engine/data/938ff24a50cc8b51/_series/07/0000
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/0/L0-00000001.tsl
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/0/MANIFEST
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/2/L0-00000001.tsl
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/2/MANIFEST
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/3/L0-00000001.tsl
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/3/MANIFEST
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/4/L0-00000001.tsl
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/4/MANIFEST
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/5/L0-00000001.tsl
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/5/MANIFEST
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/6/L0-00000001.tsl
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/6/MANIFEST
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/7/L0-00000001.tsl
knowledge/data/engine/data/938ff24a50cc8b51/autogen/2/index/7/MANIFEST
knowledge/data/engine/wal/938ff24a50cc8b51/autogen/1/_00001.wal
knowledge/data/engine/wal/938ff24a50cc8b51/autogen/2/_00001.wal
knowledge/data/engine/data/938ff24a50cc8b51/_series/01/0000
